Skip to content
This repository
Search
Pull requests
Issues
Marketplace
Gist
 @koniturock
 Sign out
 Watch 0
  Star 0
  Fork 0 abeeju/BurgerMaker
 Code  Issues 0  Pull requests 0  Projects 0  Wiki Insights 
Branch: master Find file Copy pathBurgerMaker/views/index.handlebars
e4463f6  2 days ago
@abeeju abeeju draft commit
1 contributor
RawBlameHistory     
50 lines (39 sloc)  1.41 KB
<div class="header">
  <img src="assets/images/bk.jpg" alt="Burger King" />

  <form class="create-update-form" action="burgers/create" method="POST">

    <div class="form-group">
      <label for="ca">Add a Burger:</label>
      <input type="hidden" name="devoured" value="0">
      <input type="text" id="ca" name="burger_name">
      <button type="submit">Add Burger</button>
    </div>

  </form>
</div>

<div class="notDevoured">
  <h2>Burgers that are not devoured!</h2>

    {{#each burgers}}
      {{#unless this.devoured}}
        <div>
          <img src="assets/images/burger.jpg" alt="{{this.burger_name}}" /><br>
          

          <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name="devoured" value="true">
            {{this.burger_name}} <button type="submit">DEVOUR!!</button>
          </form>
        </div>
      {{/unless}}
    {{/each}}
</div>

<div class="devoured">
  <h2>Burgers that are devoured!</h2>

    {{#each burgers}}
      {{#if this.devoured}}
        <div>
          <img src="assets/images/burger_devoured.jpg" alt="{{this.burger_name}}" /><br>
          

          <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name="devoured" value="false">
            {{this.burger_name}} <button type="submit">Regurgitate</button>
          </form>
        </div>
      {{/if}}
    {{/each}}
</div>
